@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #a445b2, #fa4299);
}

/* Form */

.wrapper {
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
  background: white;
}

.field {
  display: flex;
  flex-direction: column;
}

.field input, select, textarea {
  padding: 10px; 
  margin: 4px 0;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
}

.field textarea {
  resize: none;

}


.field label, fieldset, textarea {
  margin-top: 8px;
}

.fieldset {
  border: none;
}

.fieldset label {
  margin-left: 5px;
}

.fieldset div {
  padding: 0 10px;
}

 .btn {
  color: white;
  cursor: pointer;
  font-weight: 500;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(90deg, #a445b2, #fa4299);
  padding: 0;
}