@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;900&display=swap');

*, *:after,*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Merriweather', serif;
  
  --color-primary: #4F4F4F;
  --color-secondary: #F2F2F2;
}

/* Body */
.body {
  background-color: white;
  display:flex;
  align-items: flex-start;
}

h1, h2 {
  font-family: var(--font-primary);
}

h3, h4, h5, p {
  font-family: var(--font-secondary);
}

/* Nav bar */
.header {
  width: 30%;
}

.navbar--list {
  display: flex;
  flex-direction: column;  
  margin: 5rem 5rem 0 5rem;
}

.navbar--title, .navbar--item {
  font-family: var(--font-primary);
  list-style-type: none;
}

.navbar--title {
  font-size: 25px;
  font-weight: 900;
}

.navbar--contact {
  display:flex;
  align-items: center;
  list-style-type: none;
}

.navbar--contact > a {
  color: black;
  padding: 1.5rem 0.5rem 1.5rem 0;
}

.navbar--contact > a:hover {
  color: var(--color-primary);
}

.navbar--item {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.navbar--link {
  color: var(--color-primary);
  text-decoration: none;
}

.navbar--link:hover {
  box-shadow: 0 5px 0 var(--color-secondary);
}

/* Sections */
.section {
  background-color: var(--color-secondary);
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.section:hover {

}


.name-contact, .section h2 {
  margin-bottom: 10px;
}

.content {
  width: 60%;
}

/* Welcome section */
.name-contact {
  display:flex;
  align-items: center;
}

.contact {
  margin-left: 15px;
}



.list-about, .list-education {
  font-family: var(--font-secondary);
  list-style-type: none;
}

/* Work section */

.experience {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.experience--img {
  max-width: 100%;
  height: auto;
  margin-right: 15px;
}

.experience--img img {
  width: 50px;
  border-radius: 5px;
}

.experience--details {
  font-family: var(--font-secondary);
}