*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  border-right: 1px solid;
  height: 100%;
  background-color: lightblue;
}

.navbar header {
  font-size: 24px;
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid;
}

.navbar li {
  list-style-type: none;
  padding: 20px 0 20px 10px;
  border-color: black;
  border-bottom: 1px solid; 
}

.nav-link {
  color: black;
  text-decoration: none;
}

/* Main */

.main {
  position: absolute;
  margin: 10px 50px 10px 350px;
}

.main-section header {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.main-section article {
  padding: 0 20px;
}

.main-section p {
  line-height: 25px;
  margin-bottom: 10px;
}

.main-section ul {
  margin-left: 50px;
}

.main-section pre {
  border-left: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
}
