*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  border-right: 1px solid;
  height: 100%;
  background-color: lightblue;
}

.navbar header {
  font-size: 24px;
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid;
}

.navbar li {
  list-style-type: none;
  padding: 20px 0 20px 10px;
  border-color: black;
  border-bottom: 1px solid; 
}

.nav-link {
  color: black;
  text-decoration: none;
}

/* Main */

.main {
  position: absolute;
  margin: auto;
  margin: 20px 350px;
}