*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px 80px;
}

.navbar li {
  list-style-type: none;
  padding: 20px 0;
  border-color: black;
  border-top: solid; 
}

.nav-link {
  color: black;
  text-decoration: none;
}

/* Main */

.main {
  width: 80%;
  margin: auto;
  margin: 20px 200px;
}